<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="fitnessbitches - a site dedicated to fitness lovers.">
    <meta name="keywords" content="fitness, bitches, workout, health">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fitnessbitches</title>
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
               <a href="/index.html">
                    <img src="/assets/img/logo-fb.png" alt="Logo fitnessbitches">
                </a>
            </div>
            {% include navigation.html %}
        </div>
    </header>
    <!-- Header End -->

    <!-- Page Content -->
    {{ content}}

    <!-- javascript -->
    <script src="/assets/js/jquery-3.3.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/assets/js/mixitup.min.js"></script>
    <script src="/assets/js/jquery.slicknav.js"></script>
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/main.js"></script>
</body>

</html>