---
layout: default
title: The Diary of Pain
---
{% include page_header.html %}

<!-- About Us Secion Begin -->
<section class="about-us-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="about-pic">
                    <img src="/assets/img/about-us.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="about-text">
                    <div class="section-title">
                        <h2>Greatness does not need an audience</h2>
                        <p>We are a small group of dedicated athletes driven to discover new training
                            techniques and exercises that offer a dynamic and efficient full-body workout.</p>
                    </div>
                    <p>We do not seek publicity. We value hard work, consistency, friendship and a good laugh.
                        As a group, we inspire, support and motivate each other. We are tough, but kind. 
                        We are open and invite others to join.</p>
                    <p>
                        It is not about showing off, it is about showing up. Every week. 
                        Even when you do not feel like working out that day. Because you know the feeling afterwards will reward you generously.
                    </p>
                    <p>
                        Fitness is a long shot, it does not happen overnight. Start. Now.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Secion End -->
